@{
    ViewData["Title"] = "Home Page";
    
}
<div class="Conteiner" >
    
    <div class="text-center">
        <h1 class="display-3">X lugar Salud</h1>
        <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia nisi dolore tempora exercitationem dolor sint quos iusto eum in totam quidem, molestias nesciunt quam distinctio, illo ut sequi qui id.</h3>
        
    </div>
</div>

